name: Assets

on:
  push:
    tags:
      - pcb/*
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Tag to build or rebuild

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag || github.ref_name }}
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          ref: main
          path: _main

      - id: metadata
        run: |
          name="$(echo "${{ inputs.tag || github.ref_name }}" | cut -d/ -f2 | cut -d- -f1-3)"
          revision="$(echo "${{ inputs.tag || github.ref_name }}" | cut -d/ -f2 | cut -d- -f4)"
          echo "name=${name}" >> $GITHUB_OUTPUT

          if [[ -f "_main/pcb/${name}/.config/${revision}.yml" ]]; then
            cp "_main/pcb/${name}/.config/${revision}.yml" "pcb/${name}/config.yml"
          else
            cp "_main/pcb/${name}/config.yml" "pcb/${name}/config.yml"
          fi

      - uses: rafaelmartins/website/hardware@main
        with:
          configuration: ./pcb/${{ steps.metadata.outputs.name }}/config.yml
          source: ./pcb/${{ steps.metadata.outputs.name }}
          destination: _build

      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: _build

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
        with:
          name: ${{ inputs.tag || github.ref_name }}
          tag: ${{ inputs.tag || github.ref_name }}
          artifacts: dist/*
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true
